/* --- Vertical Tabs Plus --- */
@import "ui-variables";
 
.vertical-tabs-plus {
  // Default settings
  --tab-height: 3em;
  --min-tab-width: 11em;
  --max-tab-width: 14.1em;
  --max-tab-container-height: 60%;
  --tab-padding-multiplier: 4;

  // Left sided tabs
  &[data-tabs-position="left"] {
    flex-direction: row;
    .vtabs-wrapper {
      // Separator between code pane and tabs container
      border-right: 1px solid @tab-border-color;
    }
  }
  // Right sided tabs
  &[data-tabs-position="right"] {
    flex-direction: row-reverse; 
    .vtabs-wrapper {
      border-left: 1px solid @tab-border-color;
    }
  }
  
  // When tabs are placed over tree-view
  &.tree-view {
    // Not to make them scroll with tree-view together
    overflow: hidden;
    .tree-view-root {
      overflow: auto;
    }

    // Limiting tab container height not to make tabs take all the space
    .vtabs-wrapper {
      max-height: var(--max-tab-container-height);
    }

    // Tab container
    .tab-bar {
      padding: .5em 0;
      .tab {
        // Removes lines between tabs
        box-shadow: none;
      }
    }
  }
  // Tab container when isn't over tree-view
  &:not(.tree-view) .tab-bar {
    min-width: var(--min-tab-width);
    max-width: var(--max-tab-width);
  }
  
  // Um... This is something important too :D
  .vtabs-wrapper {
    overflow-y: auto;
    flex-shrink: 0; 
  }

  // Tab container
  .tab-bar {
    height: auto; // Stretches tab container to the height of the window
    display: block; // "block" overrides "flex" and makes them look better. It's possible to just set some flex-propreties but it already works well with "block"
    box-shadow: none; // Removes ugly lines under tab container. It's an ex-separator between tabs and code pane, used to work with horizontal tabs

    // Tabs themselves
    .tab {
      // No limits set by themes
      min-width: initial;
      max-width: none;
    
      border-left: none; // A separator between tabs, is actual for horizontal tabs only.
      width: 100%; // Tab antishrinker :D
      box-shadow: inset 0 -1px 0 @tab-border-color; // Originally tabs do "box-shadow: inherit" which inherits tab separator that's disabled (and explained why) above so getting it back manually.
      
      // Customizable tab height + perfect title and "X" centering
      height: var(--tab-height);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        text-align: left; // Aligning tab title to the left side
        margin: 0 ~'calc(var(--tab-height) / var(--tab-padding-multiplier))';
      }
      // Vertical tab align
      .icon::before {
        vertical-align: initial !important;
      }
      .close-icon {
        position: static; // Anti ablosute to make "X" centering itself, not with "magic numbers".
        margin-right: ~'calc(var(--tab-height) / var(--tab-padding-multiplier))'; // Actually, this is some kind of magic number. "One" theme had intends that are 1/4 of tab height so "--tab-padding-multiplier" is 4 by default.
        margin-left: ~'calc(var(--tab-height) / 2 * -1)'; // Another magic thing. Looks creepy.
        &::before {
          vertical-align: 0; // Originally it's equal to -0.05em which shifts "X" down and makes everything look ugly. I dunno why and if is it my fault but it's resetting here and everything gets good.
        }
      }
    }
    // A line that appears when you drag tabs
    .placeholder {
      // Dealing with default styles of tree-view package
      left: 0;
      width: 100%;
    
      display: block; // It's almost impossible to drag tabs, they twitch without it.
      height: 1px; // And this makes placeholder tiny and beautiful, not huge and clumsy
      margin-top: -1px; // "Antimatter" to height property, not to make tabs twitch by 1px

      &::before, &::after {
        display: none; // A thing on the left tab side, it looks bad with vertical tabs
      }
    }
  }
}